@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

html * {
	font-family: 'Noto Sans KR', sans-serif;
		border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans KR', sans-serif;
}

.SA_leftHome {
	height: 200px;
	float: left;
	position: absolute;
}

.SA_homeButton {
	background: #c0c0c0;
	color: #000000;
	margin-bottom: 1px;
	padding: 0.4rem 0.9rem;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	border: none;
	border-radius: 5px;
	display: inline-block;
	width: 100%;
	cursor: pointer;
}

.SA_loginStatus {
	background: white;
	margin: auto;
	float: right;
	text-align: center;
}

.SA_leftMenu {
	background: #c0c0c0;
	margin: auto;
	top: 100px;
	width: 200px;
	float: left;
	position: absolute;
	text-align: left;
}

.SA_leftMenuButton {
	background: #0080ff;
	color: #000000;
	margin-bottom: 1px;
	padding: 0.4rem 0.9rem;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	border: none;
	border-radius: 5px;
	display: inline-block;
	width: 100%;
	height: 76px;
	cursor: pointer;
}

.SA_MainBody {
	border: 1px solid black;
	left: 250px;
	top: 100px;
	width: 1000px;

	position: absolute;
	float: left;
	text-align: center;
}
.SA_MainBody2 {
	border: 1px solid black;
	left: 250px;
	top: 700px;
	width: 1000px;

	position: absolute;
	float: left;
	text-align: center;
}

.SA_FAQView {
	border: 1px solid black;
	width: 1000px;
	height: 500px;
	border-collapse: collapse;
}

.SA_FAQViewTr {
	border: 1px solid black;
	height: 30px;
	width: 100px;
	border-collapse: collapse;
}

.SA_FAQViewTh {
	background-color: #c0c0c0;
	border: 1px solid black;
	height: 30px;
	width: 100px;
}

.SA_FAQViewTdLong {
	border: 1px solid black;
	width: 900px;
	height: 30px;
}
.SA_FAQViewTdLong2 {
	border: 1px solid black;
	width: 900px;
	height: 30px;
	text-align: left;
}
.chart1{
	width: 500px;
	height: 300px;
	float: left;
	position:absolute;
}
.chart2{
	left:500px;
	width: 500px;
	height: 300px;
	float: left;
	position:absolute;
}
.chart_center{
	left:250px;
	top:170px;
	width: 500px;
	height: 200px;
	float: center;
	position:absolute;
}
